*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
}
body{
    margin: 0;
    padding: 0;
    justify-content: space-around;
}
.title {
    
    font-weight: bold;
    color: black;
    // margin-left:30%
}
.subtitle {
    
    font-weight: bold;
    color: black;
    // margin-left:30%
}
.card {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    width: 600px;
    height: 60vh;
    border: 1px solid rgb(230 230 230);
    box-shadow: 1px 1px 1px 1px #f4f4f4;
    border-radius: 2px;
}

@media only screen and (max-width: 600px) {
    .email {
        width: 100%;
    }
}

.email {
    margin-left: 0px;
    width: 400px;
}

.s {
    margin-left: 64px
}

.login {
    margin-left: 20px;
    color: #0D47A1
}

.button {
    margin-left: 10%;
    background-color: #0D47A1;
}

.f {
    color: #01579B;
    font-weight: bold;
    text-align: center
}

.u {
    color: #D50000;
    font-weight: bold;
    text-align: center
}

.n {
    color: #FF8F00;
    font-weight: bold;
    text-align: center
}

.d {
    color: #01579B;
    font-weight: bold;
    text-align: center
}

.o {
    color: #33691E;
    font-weight: bold;
    text-align: center
}

.oo {
    color: #D50000;
    font-weight: bold;
    text-align: center
}

.link {
    color: #2962FF;
    margin-left: 15%
}

.for-button {
    display: flex;
}