
<div fxLayoutAlign="space-around center" fxFlex="100">
    <mat-card fxFlex="30" class="card" fxFlex.xs="100">
  
        <div>
            <mat-card-title class="fundoo" fxLayout="row" fxLayoutAlign="center center">
              <div class="mat-card-header-text">
                  <span style="color: rgba(34, 34, 216, 0.788);">F</span>
                  <span style="color: rgba(209, 12, 22, 0.788);">u</span>
                  <span style="color: rgba(216, 143, 34, 0.788);">n</span>
                  <span style="color: rgba(34, 34, 216, 0.788);">d</span>
                  <span style="color: rgba(34, 216, 49, 0.788);">o</span>
                  <span style="color: rgba(209, 12, 22, 0.788);">o</span>
              </div>
            </mat-card-title>
          </div>
  
          <div>
            <mat-card-title calss="signin" div fxLayout="row" fxLayoutAlign="center center" style="padding: 15px;">Retrieve Password</mat-card-title>
            <mat-card-subtitle div fxLayout="row" fxLayoutAlign="center center" style="font-size:16px;color:black">Use your Fundoo Account</mat-card-subtitle>
          </div>
  
      <form>
        <div fxLayoutAlign="center center" class="email">
          <mat-form-field appearance="outline" fxFlex="100" class="email" fxLayoutAlign="center center">
            <mat-label>Email id</mat-label>
            <input matInput placeholder="Enter your email id" >
          </mat-form-field>
        </div>
  
  
        <div class="for-button">
          <button mat-button class="link" fxLayoutAlign="center" routerLink="/login">Signin instead</button>
          <button class="button" mat-button mat-raised-button color="primary">Go</button>
  
        </div>
  
  
  
      </form>
  
    </mat-card>
  </div>