<div fxFlex=100 fxLayout="column" fxLayoutAlign="center center" >

    <div class="takeAnote">
        
                <div appearance="fill">
                    <a href="#"> <img src="../../../assets/icons/pin.svg" style="float: right;margin-top: 10px;margin-right: 10px;"> </a>
                    <textarea  matInput   placeholder="Take a note" class="noteDescription"></textarea>
                     
                </div>

                <div style="display: flex;">
                  <div class="iconimg4">
                    <a href="#" ><img src="../../../assets/icons/reminder.svg" alt="" height="25px" ></a>
                    <a href="#"><img src="../../../assets/icons/collabrator.svg" alt="" height="25px" ></a>
                    <a href="#"><img src="../../../assets/icons/backgrouncolor.svg" alt="" height="25px"></a> 
                    <a href="#"><img src="../../../assets/icons/image.svg" alt="" height="25px"></a> 
                    <a href="#"><img src="../../../assets/icons/archive.svg" alt="" height="25px"></a> 
                    <a href="#"><img src="../../../assets/icons/more.svg" alt="" height="25px"></a> 
                    <!-- <a href="#"><img src="../../../assets/icons/undo.svg" alt="" height="25px"></a> 
                    <a href="#"><img src="../../../assets/icons/redo.svg" alt="" height="25px"></a>  -->
                </div>
                    <!-- <div style="margin-left: auto;">
                        <button mat-button  class="closebutton">Close</button>
                    </div> -->
                </div>
           

    </div>

</div>