<html>
<div fxLayoutAlign="space-around center" fxFlex="100">
  <mat-card fxFlex="30" class="card" fxFlex.xs="100">
    <div>
        <mat-card-title class="fundoo" fxLayout="row" fxLayoutAlign="center center">
          <div class="mat-card-header-text">
              <span style="color: rgba(34, 34, 216, 0.788);">F</span>
              <span style="color: rgba(209, 12, 22, 0.788);">u</span>
              <span style="color: rgba(216, 143, 34, 0.788);">n</span>
              <span style="color: rgba(34, 34, 216, 0.788);">d</span>
              <span style="color: rgba(34, 216, 49, 0.788);">o</span>
              <span style="color: rgba(209, 12, 22, 0.788);">o</span>
          </div>
        </mat-card-title>
      </div>

      <div>
        <mat-card-title calss="signin" div fxLayout="row" fxLayoutAlign="center center" style="padding: 15px;">Update your password</mat-card-title>
        <mat-card-subtitle div fxLayout="row" fxLayoutAlign="center center" style="font-size:16px;color:black">To continue to your Fundoo
            Account</mat-card-subtitle>
      </div>

    <div fxLayout="column" fxLayoutAlign="space-around center" class="new-pass">
      <mat-form-field appearance="outline" class="password">
        <mat-label>New password</mat-label>
        <input matInput placeholder="Type new password" autocomplete="off" requried />
      </mat-form-field>

      <mat-form-field appearance="outline" class="con-password">
        <mat-label>Confirm password</mat-label>
        <input matInput placeholder="Type confirm password" autocomplete="off" requried />
      </mat-form-field>

      <button id="confirm-button" fxLayoutAlign="center center" mat-raised-button color="primary">Update Password</button><br>
      <button mat-button class="link" fxLayoutAlign="center" routerLink="/login">Signin instead
      </button>
    </div>
  </mat-card>
</div>

</html>