*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
}
body{
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.card {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    width: 600px;
    height: 60vh;
    border: 1px solid rgb(230 230 230);
    box-shadow: 1px 1px 1px 1px #f4f4f4;
    border-radius: 2px;
  }
  
  .fundoo {
    text-align: center;
    font: bold;
    margin-top: 05%;
    font-size: 200%;
  }
  
  .f {
    color: blue;
    font-weight: bold;
    text-align: center;
  }
  
  .u {
    color: red;
    font-weight: bold; // font-family: sans-serif;
    text-align: center;
  }
  
  .n {
    color: yellow;
    font-weight: bold; // font-family: sans-serif;
    text-align: center;
  }
  
  .d {
    color: blue;
    font-weight: bold; // font-family: sans-serif;
    text-align: center;
  }
  
  .o {
    color: green;
    font-weight: bold; // font-family: sans-serif;
    text-align: center;
  }
  
  .oo {
    color: red;
    font-weight: bold; // font-family: sans-serif;
    text-align: center;
  }
  .reset-title {
    font-size: 120%;
  }
  .sub-title {
    font-size: 100%;
  }
  .new-pass {
    align-items: center;
    width: 100%;
  }
  .con-password {
    align-self: auto;
  }
  #confirm-button {
    background-color: lblue;
    font-family: "Gill Sans";
  }
  .link {
    color: blue;
  }